body {
	font-family: Arial, sans-serif;
	background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL3YxMTIwLWJnLTAwMWQteC5qcGc.jpg");
}

#login-form {
	width: 50%;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: white;
	padding-right: 35px;
}

#code {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	margin-right: 50px;
}

#submit-btn {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#submit-btn:hover {
	background-color: #3e8e41;
}

#result {
	color: #666;
	margin-top: 20px;
}