body,html{
	margin: 0;
	padding: 0;
  background-color: #b5baba;
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=2000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 
header{
	width: 100%;
	height: 70px;
	background-color: #282828;
	box-shadow: 10px 10px 8px 10px #888888;
}

.container{
  width: 100%;
  min-height: 10vh;
  padding: 10%;
  display: flex;
  margin-right:100px;
  margin-top: -80px;
}

.search-bar{
  width: 100%;
  max-width: 270px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 8px 35px;
  border-radius: 100px;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  padding: 4px 10px;
  outline: none;
  font-size: 15px;
  color: white;
  float: left;
  opacity: 70%;
}

::placeholder{
  color: white;
  opacity: 50%;
  
  }

  .search-bar button img{
    width: -20%;
    border-radius: 100%;
    width: 37px;
    height: 37px;
    margin-right: 290px;
    margin-top: -7px;
    background: #39ca74;
    color: white;
    cursor: pointer;
    backdrop filter: blur(4px) saturate(100%);
    box-shadow: none;
    opacity: 100%;
  
  }

  .search-bar button img:hover{
    opacity: 60%;
    background: black;
    transition: 0.5s;

  }

  .search-bar button{
    border: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    backdrop filter: blur(4px) saturate(100%);
  }

h1{
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	font-family: 'Alfa Slab One', cursive;
	color: #39ca74;
}

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


span{
	color: #ffffff;
}

ul{
	width: auto;
	float: right;
	margin-top: 8px;
}

li{
	display: inline-block;
	padding: 15px 30px;
}


.dropbtn:hover{
  transition: 0.5s;
  background color: #39ca74;
  padding: 20px;
  cursor: pointer;
}

nav ul li a{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
  }

a:hover{
	background color: #39ca74;
	transition: 0.5s;
	padding: 16px;
	
	cursor: pointer;
}

img{
	width: 30%;
	margin-top: -10px;
	float: left;
	box-shadow: 10px 10px 8px 10px #888888;
}

img:hover {
  opacity: 0.5;
  }


p{
	text-shadow: 2px 2px 8px #ebebeb;
}

 li p a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  box-shadow: 5px 5px 8px 5px #888888;
}

a:hover {
  background-color: #39ca74;
  color: white;
}

.previous {
  background-color: #2e2d2d;
  color: white;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 70%;
}




/* Dropdown Button */
.dropbtn {
  background-color: #282828;
  color: white;
  padding: 16px;
  font-size: 16px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #39ca74;
  background-color: #ddd;
  transition: 0.5s;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 10px 10px 8px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #39ca74}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
  background-color: #ff3399; /* pink */
  border: none;
  color: white;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #66ccff;} 
.button4 {background-color: #cccc00;} 
.button5 {background-color: #000000; color: #ffcc00; margin: 30 50px 20 70px;}
.button6 {background-color: #ff3300; margin: 30 60px 20 -20px;} 
.button7 {background: linear-gradient(to bottom, #00ff99 0%, #0066cc 100%); margin: 30 50px 20 -35px;}






.center {
  text-align: center;
  border: 3px solid black;
  margin: 30 80px 20 170px;
  box-shadow: 10px 10px 8px 10px #888888;
 
}

div p{
	 margin: 30 50px 20 70px;
}

h2{
	 box-shadow: 5px 5px 8px 5px #888888;
}

