body,html{
	margin: 0;
	padding: 0;
  background-color: #b5baba;
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=2000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 
header{
	width: 100%;
	height: 70px;
	background-color: #282828;
	box-shadow: 10px 10px 8px 10px #888888;
}

div input{
  padding: 8px;
  margin-top: -6px;
  margin-right: 18px;
  font-size: 15px;
  border: none;
  float: right;
  color: black;
  box-shadow: 5px 5px 4px 5px #888888;
  
}

div input:hover{
  
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
  padding: 14px;
  
}
div form input button i fa fa-search{
  float: right;
  padding: 8px 12px;
  margin-top: -4px;
  margin-right: 18px;
  background: #39ca74;
  font-size: 19px;
  border: none;
  cursor: pointer;

  box-shadow: 10px 10px 8px 10px #888888;

}

h1{
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	font-family: 'Alfa Slab One', cursive;
	color: #39ca74;

}

span{
	color: #ffffff;
}

ul{
	width: auto;
	float: right;
	margin-top: 8px;
}

li{
	display: inline-block;
	padding: 15px 30px;
}

nav ul li a{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
	color: #39ca74;
	transition: 0.5s;
	padding: 16px;
	
	cursor: pointer;
}

img{
	width: 30%;
	margin-top: -10px;
	float: left;
	box-shadow: 10px 10px 8px 10px #888888;
}

img:hover {
  opacity: 0.5;
  }


p{
	text-shadow: 2px 2px 8px #ebebeb;
}

 li p a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  box-shadow: 5px 5px 8px 5px #888888;
}

a:hover {
  background-color: #ddd;
  color: #04AA6D;
}

.previous {
  background-color: #2e2d2d;
  color: white;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 70%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #282828;
  color: white;
  padding: 16px;
  font-size: 16px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #39ca74;
  background-color: #ddd;
  transition: 0.5s;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 10px 10px 8px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #39ca74}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button {
  background-color: #ff3399; /* pink */
  border: none;
  color: white;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #66ccff;} 
.button4 {background-color: #cccc00;} 
.button5 {background-color: #000000; color: #ffcc00; margin: 30 50px 20 70px;}
.button6 {background-color: #ff3300; margin: 30 60px 20 -20px;} 
.button7 {background: linear-gradient(to bottom, #00ff99 0%, #0066cc 100%); margin: 30 50px 20 -35px;}






.center {
  text-align: center;
  border: 3px solid black;
  margin: 30 80px 20 170px;
  box-shadow: 10px 10px 8px 10px #888888;
 
}

div p{
	 margin: 30 50px 20 70px;
}

h2{
	 box-shadow: 5px 5px 8px 5px #888888;
}

