body,html{
	margin: 0;
	padding: 0;
  background-color: #b5baba;
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=2000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header{
	width: 100%;
	height: 70px;
	background-color: #282828;
	box-shadow: 10px 10px 8px 10px #888888;
}

h1{
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	font-family: 'Alfa Slab One', cursive;
	color: #39ca74;

}

span{
	color: #ffffff;
}

ul{
	width: auto;
	float: right;
	margin-top: 8px;
}

li{
	display: inline-block;
	padding: 15px 30px;
}

nav ul li a{
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover{
	color: #F0c330;
	transition: 0.5s;
}

img{
	width: 50%;
	margin-top: -16px;
}

p{
	text-shadow: 2px 2px 8px #ebebeb;
}